#hidden {display:none}
#progress-bar {position:fixed;z-index:9999;top:0;left:0;width:0;height:2px;background-color:#7f8c8d}
#loading {position:fixed;z-index:999;top:0;left:0;width:100%;height:100%;background:#80ccff url(img/preload.gif) center no-repeat}

body, html {
          height: 100%;
      }
#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: transparent;
}

#panel {
    padding: 50px;
    display: none;
    position:relative;top:470px;
    font-size: 25px;
    font-family: 'montserratregular';
}

.parallax {
    /* The image used */
    background-image: url('img/abcd.jpg');

    /* Full height */
    height: 102%;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {

    /* Full height */
    height: 320%;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#7f8c8d;
    font-size:126%;
    line-height:1.5;
    font-family: 'montserratregular';
}
.parallax3 {
    /* The image used */
    background-color: white;
    /* Full height */
    height: 93%;
    margin-top: 50px;
    margin-left: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top{
    width:100%;
    text-align: center;
}
.button {
    border:none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.5;
}
.button:hover {
    opacity: 1.0;
    background-color: white;
}
.button1 {
    position: absolute;bottom:190px;left:345px;
    background-color: transparent;
    color: black;
}
.button2 {
    position: absolute;bottom:195px;right:350px;
    background-color: transparent;
    color: black;
}
.button3 {
    position: absolute;bottom:185px;right:580px;
    font-size: 3.0em;
    color: black;
    background-color: transparent;
    cursor: pointer;
}
#home{}
#biography{color:#7f8c8d;height:700px;font-size:126%;line-height:1.5;margin-left:-8px;margin-right:-8px;font-family: 'montserratregular';width:50%;position:relative;left:5%;top:5%;}
#part1{}
#part2{}
img{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
}
.info{
    background-color:#72c9b9;
    border:0px;
    font-family: 'montserratregular';
    font-size: 18px;
    color:#fff;
    line-height: 50px;
    height:50px;
    display: block;
    text-transform: uppercase;

    width:225px;
    transition:all 200ms linear;
}
.info:hover{
    background-color: #7f8c8d;
}
.parallax3 h1{
color:#72c9b9;
font-family: 'montserratbold';
font-size: 640%;
line-height: 0.8;
}
.text{
    margin-top:20px;
    width:40%;
    height:50px;
    float:left;
    font-family: 'montserratregular';
    padding-top:2px;
    padding-right:20px;
    padding-bottom: 0px;
    padding-left: 20px;
    text-transform: uppercase;
}
input[type="text"]{
    font-family: 'montserratregular';
}
.textarea{
    margin-top:20px;
    width:82.6%;
    height:50%;
    float:left;
    font-family: 'montserratregular';
    text-transform: uppercase;
    padding-top:20px;
    padding-right:20px;
    padding-bottom: 0px;
    padding-left: 20px;
    text-transform: uppercase;
}
.submit{
    background-color:#72c9b9;
    border:0px;
    font-family: 'montserratregular';
    font-size: 18px;
    color:#fff;
    line-height: 50px;
    height:50px;
    display: block;
    text-transform: uppercase;
    cursor: pointer;

    width:225px;
}
.path {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  -webkit-animation: dash 5s linear alternate infinite;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1300;
    fill-opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}
.scrollToTop{
    height:80px;
    text-align:center;
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    top:320px;
    right:40px;
    display:none;
    background: url('img/backtotop.png');
    background-size: 100% 100%;
}
.scrollToTop:hover{
    text-decoration:none;
}
